body {
    background-color: white; 
    padding: 0;
    margin:0;
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    font-size: 19px;
    color: #505050;
    line-height: 1.75rem;
}

  
@media (max-width: 30em) {
    body {
        font-size: 19px;
        line-height: 1.6rem;
    }
    body h1 {
        font-size: 1.5rem;
    }
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 615px;
    margin-top: 80px;
}

@media (max-width: 768px) {
    .content {
      width: 90vw;
    }
}


.image-home{
    height: 140px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-bottom: 70px;
    background-position: center 35%;

    img{
        margin-top: 55px;
        margin-left: -40px;
    }
}

