.footer {
    color: #999;
    text-align: center;
    margin: 2rem;
  }
  
  .footer a {
    color: #999;
    padding: 10px;
    text-decoration: none;
  }

.footer p a {
    color: rgb(165, 15, 15);
    padding: 5px;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #333;
  }