.nav-main {
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding:0;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    position: fixed;
    z-index: 1000;
}
  
.hamburguer{
    font-size:35px;
    cursor:pointer;
    color:rgb(165, 15, 15);
    margin: 5px;
    margin-left: 10px;
}
  
.hamburguer:hover {
    opacity: 0.5;
    cursor: pointer;
}

.title a{
    text-decoration: none;
    color: rgb(165, 15, 15);
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    font-weight: bold;
    font-size: 22px;
    padding-left: 20px;
}

@media (max-width: 375px) {
    .title a{
      font-size: 17px;
    }
}

.nav-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 100%;
    top: 50px;
    background-color: rgb(165, 15, 15);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    padding:0;
    overflow: hidden;

    h2{
        text-align: center;
        margin: 0 0 calc(20px);
        margin-top: calc(20px);
        font-size: calc(20px);
        color: white;
        font-weight: 800;
        margin-top: 50px;

    }

    .sidebar-section{
        margin-bottom: 0px;
        padding-bottom: 20px;
        border-bottom: 1px solid white;
    }

    li{
        margin: 0;
        list-style-type: none;
        a{
            width: 100%;
            display: block;
            padding: calc(20px);
            text-decoration: none;
            color: white;
            font-weight: 300;
            border-bottom: 1px solid white;

            &:hover{
                color: rgb(165, 15, 15);
                background: rgb(244, 215, 215);
            }
        }
    }
}
  
.nav-sidebar ul {
    padding: 15px 0 0 0;
    overflow: hidden;
    visibility: hidden;
}

  
.closebtn{
    font-size:35px;
    cursor:pointer;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 5px;
    margin-left: 90px;
    &:hover {
        color: rgb(244, 215, 215);
    }
}
